@import "../../vars.scss";

.home-upper {
  background-color: $primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 34vh;
  min-height: 200px;
}

.home-view {
  text-align: center;
}
