.react-datepicker {
  .react-datepicker__month-container {
    width: 100%;
  }
  .react-datepicker__day-names,
  .react-datepicker__week {
    display: flex;
    justify-content: space-between;
  }
}
