@import "../../vars.scss";

.login-upper {
  background-color: $primary;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 34vh;
  min-height: 200px;
}
