@import "../../vars.scss";

.event-item {
  margin-bottom: 20px;
  border-radius: 7px;
  color: #fff;
  background-color: $primary;
  padding: 10px;

  &.full {
    opacity: 0.6;
  }
}

.event-item-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
}

.event-item-name {
  font-weight: 700;
  font-size: 18px;
}

.event-item-details {
  font-size: 11px;
}

.event-item-content {
  font-size: 11px;
  text-align: center;
  line-height: 1.2;
}

.my-event-item {
  margin-bottom: 20px;
  border-radius: 7px;
  color: #fff;
  background-color: $green;
  padding: 10px;

  &:nth-child(2n) {
    background-color: $secondary;
  }

  img {
    margin: 0 auto;
    display: block;
    width: 92px;
  }
}

.my-event-item-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.my-event-item-name {
  font-weight: 700;
  font-size: 18px;
}

.my-event-item-details {
  font-size: 11px;
}

.my-event-item-content {
  font-size: 11px;
  text-align: center;
  line-height: 1.2;
}

.my-event-left {
  text-align: left;

  .cancel-button {
    width: 24px;
    height: 24px;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}
